@import url("https://use.typekit.net/aqu0iax.css")

:root
    --grey: #2D2E32
    --dark-grey: #25262A
    --darkest-grey: #1F2024
    --green: #47D2A0

*
    margin: 0
    padding: 0
    box-sizing: border-box
html 
    scroll-behavior: smooth 
    
body
    overflow-x: hidden

main 
    background-color: var(--grey)
    height: 100vh
    color: white
    font-family: montserrat
    font-weight: regular

h2 
    font-family: poppins 
    font-weight: 400
    font-size: 38px
    margin-bottom: 50px

h3 
    font-family: poppins
    font-weight: 300 
    letter-spacing: 0.8px

//****************************Navigation bar styling*****************************************
.nav-bar
    z-index: 10000
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding-left: 300px
    padding-right: 300px
    position: fixed
    background-color: var(--grey)
    top: 0px

    #show-links
        display: flex

    li
        list-style: none
        width: 100%
        height: 80%
        display: flex 
        justify-content: center
        align-items: center
        &:hover 
            a
                color: var(--green)

        a
            text-decoration: none
            color: white             

    .navigation
        display: flex
        width: 400px
        height: 100px
        justify-content: space-between
        align-items: center

    .social-links
        width: 300px
        display: flex
        justify-content: space-between
        align-items: center
        a
            display: flex
            align-items: center

.email-icon
    background-color: var(--green)
    width: 50px
    height: 50px
    border-radius: 100%
    display: flex
    justify-content: center
    align-items: center
    font-size: 24px

.menu-icon
    font-size: 40px

//*************************Header Styling*******************************************
header
    max-height: 90.1vh 
    display: flex
    align-items: flex-end
    justify-content: center
    margin-top: 100px
    
    .personal-info
        margin-top: 250px
        margin-right: 100px
        margin-left: 100px
        .name-color
            color: var(--green)

        .typed-text
            color: white
            font-family: montserrat
            font-weight: regular
            font-size: 38px
            text-shadow: 3px 3px 20px rgba(0,0,0,0.74)

        h1
            font-family: poppins
            font-weight: medium
            font-size: 54px
            margin-top: 10px 
            margin-bottom: 10px
            letter-spacing: 0.6px
            text-shadow: 3px 3px 20px rgba(0,0,0,0.74)

        .main-buttons
            display: flex
            width: 370px
            justify-content: space-between
            margin-top: 80px

            a 
                text-decoration: none
                font-weight: 600

            .primary-button
                    width: 180px
                    height: 54px
                    background-color: var(--green)
                    border-radius: 7px
                    display: flex
                    justify-content: center
                    align-items: center
                    color: white
                    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.54)

            .secondary-button
                    width: 180px
                    height: 54px
                    background-color: white
                    border-radius: 7px
                    display: flex
                    justify-content: center
                    align-items: center
                    color: var(--green)
                    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.54)

    .portrait
        margin-top: 94px
        img
            z-index: 10
            width: 580px
            margin-right: 20px
            filter: contrast(1.1)
            filter: drop-shadow(0px 2px 30px #00000096)

    .main-info
        z-index: 2
        display: flex
        justify-content: space-between
        width: 1500px

    .background-shapes
        position: absolute
        width: 100%
        height: 100vh
        #circle-1, #circle-2, #circle-3
            position: relative
            background-color: var(--dark-grey)
            border-radius: 100%

        #circle-1
            width: 250px
            height: 250px
            top: 600px
            left: -121px
            animation: random-movement-1 3s ease alternate infinite

        #circle-2
            width: 100px
            height: 100px
            left: 103px
            top: -100px
            animation: random-movement-2 2s ease alternate infinite

        #circle-3
            width: 70px
            height: 70px
            left: 1730px
            top: 517px
            animation: random-movement-3 2s ease alternate infinite

        @keyframes random-movement-1 
            0% 
                transform: translateY(0) translateX(0)
        
            100% 
                transform: translateY(14px) translateX(14px)

        @keyframes random-movement-2
            0% 
                transform: translateY(0) translateX(0)
        
            100% 
                transform: translateY(14px) translateX(-10px)

        @keyframes random-movement-3
            0% 
                transform: translateY(0) translateX(0)
        
            100% 
                transform: translateY(11px) translateX(5px)

        #skill-wheel
            position: relative
            z-index: 1
            width: 800px
            top: -38%
            right: -52%

    .mouse-scroll
        display: flex
        flex-direction: column
        position: absolute

        #mouse-arrow
            animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both

@keyframes slide-top 
    0% 
        transform: translateY(0)
  
    100% 
        transform: translateY(7px)


//****************************About Me Styling*******************************************
.about-me-background
    background-color: var(--dark-grey)   
    min-height: 100vh  
    display: flex 
    align-items: center 
    justify-content: center
    flex-wrap: wrap-reverse

.categories
   
    height: 630px
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-right: 300px
    z-index: 2
    .category-card
        width: 500px
        height: 200px  
        border-radius: 7px
        background-color: var(--grey)  
        padding: 40px
        box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.24)
        transition: transform 0.2s ease

        .title
            display: flex
            width: 100%
            justify-content: space-between
            margin-bottom: 30px

        p 
            font-size: 15px
            letter-spacing: 0.5px
            line-height: 23px
            font-weight: 200

        &:hover
            .title
                color: var(--green)

            transform: scale(1.04)


.introduction
    div
        width: 43px 
        height: 20px 
        background-color: var(--green)
        display: flex 
        justify-content: center
        align-items: center
        border-radius: 3px

        small 
            font-size: 10px

    h4 
        color: var(--green)
        font-weight: 400
        margin-bottom: 15px
        margin-top: 25px

    p 
        font-weight: 200
        letter-spacing: 0.5px
        line-height: 23px
        width: 500px
        font-size: 15px

.about-me-background-circles
    position: absolute 
    width: 100%
    height: 100vh

    #circle-4, #circle-5, #circle-6, #circle-7
        position: relative
        background-color: var(--grey)
        border-radius: 100%

    #circle-4
        width: 70px
        height: 70px
        left: 1630px
        top: 840px

    #circle-5
        width: 100px
        height: 100px
        left: 1730px
        top: 140px

    #circle-6
        width: 50px
        height: 50px
        left: 930px
        top: 610px

    #circle-7
        width: 80px
        height: 80px
        left: 30px
        top: 0px

//******************************Skills Styling***************************************  
.skills-section
    min-height: 500px
    background-color: var(--darkest-grey)
    display: flex 
    flex-direction: column
    align-items: center
    padding-top: 100px
    padding-bottom: 190px

    .skills-wrapper
        max-width: 80vw

        .heading-wrapper
            display: grid 
            width: 100%

            .heading
                grid-row: 1
                grid-column: 1
                max-width: 80vw
                display: flex
                flex-direction: column
                z-index: 2

                div
                    width: 43px 
                    height: 20px 
                    background-color: var(--green)
                    display: flex 
                    justify-content: center
                    align-items: center
                    border-radius: 3px

                    small 
                        font-size: 10px

                h2 
                    width: 100px
                    height: 60px
                    background-color: var(--darkest-grey)

            .green-circle-skills
                position: absolute
                grid-row: 1
                grid-column: 1
                width: 220px 
                height: 220px 
                border: 3px solid var(--green)
                border-radius: 100%
                transform: translateY(45px) translateX(-20px)

.skill-container
    width: 80vw
    display: flex 
    justify-content: center
    flex-wrap: wrap

.skill-card-container
    display: flex 
    flex-direction: column 
    justify-content: space-between
    align-items: center 
    padding: 40px
    background-color: var(--dark-grey)
    border-radius: 10px
    width: 170px
    margin: 8px
    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.24)
    transition: transform 0.2s ease
    z-index: 3

    img 
        width: 80px
        margin-bottom: 30px

    p 
        text-align: center

    &:hover
        transform: scale(1.03)

//********************************Projects Styling****************************************
.projects-section
    padding-top: 100px 
    padding-bottom: 100px
    background-color: var(--dark-grey)
    display: flex
    flex-direction: column
    align-items: center

    .project-wrapper
        display: flex 
        flex-direction: column 
        justify-content: flex-start
        .heading-wrapper-projects
            display: grid
            width: 300px

            .heading
                z-index: 1000
                h2
                    background-color: var(--dark-grey)
                    width: 170px
                    padding-left: 10px
                    grid-row: 1
                    grid-column: 1

                div
                        width: 43px 
                        height: 20px 
                        background-color: var(--green)
                        display: flex 
                        justify-content: center
                        align-items: center
                        border-radius: 3px

                        small 
                            font-size: 10px


            .green-circle-projects
                    position: absolute
                    grid-row: 1
                    grid-column: 1
                    width: 220px 
                    height: 220px 
                    border: 3px solid var(--green)
                    border-radius: 100%
                    transform: translateY(45px) translateX(-20px)
                    z-index: 0

        .project-container
            display: flex
            max-width: 90vw
            justify-content: center
            flex-wrap: wrap

    #circle-8, #circle-9, #circle-10, #circle-11, #circle-12, #circle-13
        position: absolute
        background-color: var(--grey)
        border-radius: 100%

    #circle-8
        width: 70px
        height: 70px
        left: 600px
        top: -320px

    #circle-9
        width: 30px
        height: 30px
        left: 800px
        top: -800px

    #circle-10
        width: 130px
        height: 130px
        left: 700px
        top: -300px

    #circle-11
        width: 110px
        height: 110px
        left: -700px
        top: -600px

    #circle-12
        width: 60px
        height: 60px
        left: -700px
        top: -1000px

    #circle-13
        width: 40px
        height: 40px
        left: 0px
        top: -1300px

.project-card-container
    display: flex
    max-width: 820px
    min-height: 310px
    background-color: var(--grey)
    padding: 10px
    margin: 20px
    border-radius: 10px
    box-shadow: 1px -1px 30px 0px rgba(0,0,0,0.24)
    transition: transform 0.3s ease
    z-index: 10

    &:hover
        transform: scale(1.006)

    img
        max-width: 450px
        max-height: 450px
        border-radius: 8px 0 0 8px

    .project-info
        padding: 40px
        display: flex
        flex-direction: column
        justify-content: space-between

        h3
            font-weight: 600
            font-size: 24px
            margin-bottom: 20px

        p
            font-weight: 300
            letter-spacing: 0.4px
            font-size: 14px

        .project-link
            background-color: var(--green)
            border-radius: 6px
            width: 140px
            height: 40px
            display: flex
            justify-content: center
            align-items: center
            margin-top: 10px
            
            p
                font-family: poppins
                letter-spacing: 0.2px
                color: white
                
a
    text-decoration: none


//*****************************Contact Styling***************************************
.contact-section
    padding-top: 200px 
    padding-bottom: 200px
    background-color: var(--dark-grey)
    display: flex
    flex-direction: column
    align-items: center

    h2
        letter-spacing: 0.6px

    div
        display: flex
        justify-content: center
        align-items: center
        color: white
        background-color: var(--green)
        border-radius: 6px
        width: 130px
        height: 50px
        font-weight: 600
        box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.54)

        &:hover
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both

    @keyframes scale-up-center 
        0% 
            transform: scale(1)
        
        100% 
            transform: scale(1.1)

//********************************Footer Styling****************************************
.footer-section
    height: 300px
    background-color: var(--grey)
    display: flex
    justify-content: center
    align-items: center
    font-size: 18px
    font-weight: 400

    .footer-details
        display: flex
        flex-direction: column
        margin-right: 70px

        .detail
            display: flex
            margin-top: 10px
            margin-bottom: 10px
            align-items: center

            a
                color: white

    .footer-socials
        a 
            color: white

//**********************************Media Queries*******************************************    
@media screen and (max-width: 1900px)
    .projects-section
        .project-wrapper
            max-width: 1000px
                

@media screen and (max-width: 1600px)
    header
        .portrait
            img
                max-width: 530px
                margin-right: 80px

        .background-shapes
            #skill-wheel
                width: 700px
                top: -30%
                right: -54%

@media screen and (max-width: 1400px)
    header 
        .personal-info
            h1 
                font-size: 45px

            .typed-text
                font-size: 30px

            margin-right: 0
            margin-left: 70px

        .portrait
            img
                max-width: 500px
                margin-right: 80px

        .background-shapes
            #skill-wheel
                max-width: 700px
                top: -27%
                right: -44%

    .nav-bar
        padding-left: 100px
        padding-right: 100px

@media screen and (max-width: 1316px)
    .about-me-background
        .categories
            margin-right: 40px

@media screen and (max-width: 1160px)
    header
        .personal-info
            margin-top: 180px
            h1
                font-size: 35px

            .typed-text
                font-size: 20px

            .main-buttons
                width: 270px
                .primary-button, .secondary-button
                    width: 130px
                    height: 49px
                    font-size: 13px
                    letter-spacing: 0.4px

        .portrait
            img
                max-width: 400px
                margin-right: 10px

        .background-shapes
            #skill-wheel
                max-width: 600px
                top: -12%
                right: -47%

@media screen and (max-width: 1060px)
    .about-me-background
        flex-direction: column-reverse
        padding-top: 100px
        padding-bottom: 170px

        .categories
            align-items: center
            margin-top: 80px
            margin-right: 0px

@media screen and (max-width: 930px)
    .project-card-container
        img 
            max-width: 350px
            max-height: 350px

        .project-info
            .project-link
                margin-top: 30px

@media screen and (max-width: 900px)
    .nav-bar
        padding-left: 30px
        padding-right: 30px

        .navigation
            width: 300px

        .social-links
            width: 200px
            p
                display: none

@media screen and (max-width: 883px) //Convert to mobile, portrait
    header 
        max-height: 95vh
        .main-info
            flex-direction: column-reverse
            align-items: center

            .personal-info
                margin: 0
                background-color: var(--darkest-grey)
                width: 100%    
                height: 300px         
                display: flex
                justify-content: center
                align-items: center



                .main-buttons
                    width: 100%
                    justify-content: space-around
                    margin-top: 40px
                    flex-wrap: wrap

                    .primary-button, .secondary-button
                        width: 170px
                        height: 50px
                        font-size: 15px

            .portrait
                img 
                    width: 40vh

        .background-shapes
            height: 85vh
            #circle-1
                display: none

            #circle-2
                display: none 

            #circle-3
                display: none

            #skill-wheel
                width: 600px
                right: -15%

        .mouse-scroll
            display: none

    


@media screen and (max-width: 800px)
    .project-card-container
        img 
            max-width: 40vw
            max-height: 40vw

        .project-info
            padding-top: 10px
            padding-bottom: 0
            padding-right: 20px
            justify-content: flex-start

            h3
                font-size: 2.5vw

            p
                font-size: 1.9vw

    header 
        .background-shapes
            #skill-wheel
                right: -10%

@media screen and (min-width: 650px)
    .menu-icon
        display: none

@media screen and (max-width: 650px)
    .nav-bar
        padding-right: 50px
        height: 80px

        #show-links
            position: absolute
            left: 0px
            top: 80px 
            height: 200px
            width: 100%
            background-color: var(--dark-grey)
            flex-direction: column
            align-items: flex-start
            justify-content: center

            li 
                padding-left: 40px
                display: flex 
                align-items: center
                width: 100%
                height: 100%
        .navigation
            display: none

        .social-links
            width: 50px
            .mail-button
                display: none 

    header
        margin-top: 50px

        .background-shapes
            #skill-wheel
                right: -3%

    .project-card-container
        flex-direction: column 
        img 
            max-width: 70vw
            max-height: 70vw
            border-radius: 8px 8px 0 0

        .project-info
            padding-top: 10px
            padding-bottom: 10px
            padding-right: 0
            padding-left: 10px
            justify-content: flex-start

            h3
                font-size: 4vw

            p
                font-size: 2.6vw
                max-width: 63vw

            .project-link
                width: 40% 
                height: 60%
                margin-bottom: 20px

                p 
                    letter-spacing: 1px
                    font-size: 13px

.about-me-background-circles
    #circle-4, #circle-5, #circle-6, #circle-7
        display: none   

@media screen and (max-width: 600px)
    .categories
        .category-card
            width: 80%

    .introduction
        p 
            max-width: 400px

    .footer-section
        flex-direction: column

        .footer-details
            margin-right: 0

            .detail
                font-size: 3vw
                letter-spacing: 0.6px

    .contact-section
        h2
            font-size: 6vw

        div 
            max-width: 50vw
            font-size: 4vw

@media screen and (max-width: 580px)
    header
        .background-shapes
            #skill-wheel
                left: 0
                width: 500px
