@import url("https://use.typekit.net/aqu0iax.css");
:root {
  --grey: #2D2E32;
  --dark-grey: #25262A;
  --green: #47D2A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--grey);
  height: 100vh;
  color: white;
  font-family: montserrat;
  font-weight: regular;
}

h2 {
  font-family: poppins;
  font-weight: 400;
  font-size: 38px;
  margin-bottom: 50px;
}

h3 {
  font-family: poppins;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.nav-bar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
  position: fixed;
  background-color: var(--grey);
  top: 0px;
}
.nav-bar li {
  list-style: none;
}
.nav-bar li a {
  text-decoration: none;
  color: white;
}
.nav-bar .navigation {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .social-links {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .social-links a {
  display: flex;
  align-items: center;
}

.email-icon {
  background-color: var(--green);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

header {
  height: 90.1vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 100px;
}
header .personal-info {
  margin-top: 150px;
  margin-right: 100px;
}
header .personal-info .name-color {
  color: var(--green);
}
header .personal-info .typed-text {
  color: white;
  font-family: montserrat;
  font-weight: regular;
  font-size: 38px;
}
header .personal-info h1 {
  font-family: poppins;
  font-weight: medium;
  font-size: 54px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}
header .personal-info .main-buttons {
  display: flex;
  width: 370px;
  justify-content: space-between;
  margin-top: 80px;
}
header .personal-info .main-buttons a {
  text-decoration: none;
  font-weight: 600;
}
header .personal-info .main-buttons .primary-button {
  width: 180px;
  height: 54px;
  background-color: var(--green);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
header .personal-info .main-buttons .secondary-button {
  width: 180px;
  height: 54px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
}
header .portrait img {
  width: 650px;
  margin-right: 20px;
  filter: contrast(1.1);
}
header .main-info {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 1500px;
}
header .background-shapes {
  position: absolute;
  width: 100%;
  height: 100vh;
}
header .background-shapes #circle-1, header .background-shapes #circle-2, header .background-shapes #circle-3 {
  position: relative;
  background-color: var(--dark-grey);
  border-radius: 100%;
}
header .background-shapes #circle-1 {
  width: 250px;
  height: 250px;
  top: 600px;
  left: -121px;
}
header .background-shapes #circle-2 {
  width: 100px;
  height: 100px;
  left: 103px;
  top: -100px;
}
header .background-shapes #circle-3 {
  width: 70px;
  height: 70px;
  left: 1730px;
  top: 517px;
}
header .background-shapes img {
  position: relative;
  left: 900px;
  top: -370px;
}

.about-me-background {
  background-color: var(--dark-grey);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories {
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 300px;
}
.categories .category-card {
  width: 500px;
  height: 200px;
  border-radius: 7px;
  background-color: var(--grey);
  padding: 40px;
}
.categories .category-card .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}
.categories .category-card p {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 23px;
}

.introduction div {
  width: 43px;
  height: 20px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.introduction div small {
  font-size: 10px;
}
.introduction h4 {
  color: var(--green);
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 25px;
}
.introduction p {
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 23px;
  width: 500px;
  font-size: 14px;
}

.about-me-background-circles {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.about-me-background-circles #circle-4, .about-me-background-circles #circle-5, .about-me-background-circles #circle-6, .about-me-background-circles #circle-7 {
  position: relative;
  background-color: var(--grey);
  border-radius: 100%;
}
.about-me-background-circles #circle-4 {
  width: 70px;
  height: 70px;
  left: 1630px;
  top: 840px;
}
.about-me-background-circles #circle-5 {
  width: 100px;
  height: 100px;
  left: 1730px;
  top: 140px;
}
.about-me-background-circles #circle-6 {
  width: 50px;
  height: 50px;
  left: 930px;
  top: 610px;
}
.about-me-background-circles #circle-7 {
  width: 80px;
  height: 80px;
  left: 30px;
  top: 0px;
}

/*# sourceMappingURL=App.css.map */
