@import url("https://use.typekit.net/aqu0iax.css");
:root {
  --grey: #2D2E32;
  --dark-grey: #25262A;
  --darkest-grey: #1F2024;
  --green: #47D2A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  background-color: var(--grey);
  height: 100vh;
  color: white;
  font-family: montserrat;
  font-weight: regular;
}

h2 {
  font-family: poppins;
  font-weight: 400;
  font-size: 38px;
  margin-bottom: 50px;
}

h3 {
  font-family: poppins;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.nav-bar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
  position: fixed;
  background-color: var(--grey);
  top: 0px;
}
.nav-bar li {
  list-style: none;
}
.nav-bar li a {
  text-decoration: none;
  color: white;
}
.nav-bar li a:hover {
  color: var(--green);
}
.nav-bar .navigation {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .social-links {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .social-links a {
  display: flex;
  align-items: center;
}

.email-icon {
  background-color: var(--green);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

header {
  height: 90.1vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 100px;
}
header .personal-info {
  margin-top: 150px;
  margin-right: 100px;
  margin-left: 100px;
}
header .personal-info .name-color {
  color: var(--green);
}
header .personal-info .typed-text {
  color: white;
  font-family: montserrat;
  font-weight: regular;
  font-size: 38px;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.74);
}
header .personal-info h1 {
  font-family: poppins;
  font-weight: medium;
  font-size: 54px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.74);
}
header .personal-info .main-buttons {
  display: flex;
  width: 370px;
  justify-content: space-between;
  margin-top: 80px;
}
header .personal-info .main-buttons a {
  text-decoration: none;
  font-weight: 600;
}
header .personal-info .main-buttons .primary-button {
  width: 180px;
  height: 54px;
  background-color: var(--green);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.54);
}
header .personal-info .main-buttons .secondary-button {
  width: 180px;
  height: 54px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.54);
}
header .portrait img {
  width: 580px;
  margin-right: 20px;
  filter: contrast(1.1);
  filter: drop-shadow(0px 2px 30px #00000096);
}
header .main-info {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 1500px;
}
header .background-shapes {
  position: absolute;
  width: 100%;
  height: 100vh;
}
header .background-shapes #circle-1, header .background-shapes #circle-2, header .background-shapes #circle-3 {
  position: relative;
  background-color: var(--dark-grey);
  border-radius: 100%;
}
header .background-shapes #circle-1 {
  width: 250px;
  height: 250px;
  top: 600px;
  left: -121px;
}
header .background-shapes #circle-2 {
  width: 100px;
  height: 100px;
  left: 103px;
  top: -100px;
}
header .background-shapes #circle-3 {
  width: 70px;
  height: 70px;
  left: 1730px;
  top: 517px;
}
header #skill-wheel {
  position: absolute;
  left: 48%;
  top: 5%;
}
header .mouse-scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
}
header .mouse-scroll #mouse-arrow {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px);
  }
}
.about-me-background {
  background-color: var(--dark-grey);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.categories {
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 300px;
}
.categories .category-card {
  width: 500px;
  height: 200px;
  border-radius: 7px;
  background-color: var(--grey);
  padding: 40px;
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease;
}
.categories .category-card .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}
.categories .category-card p {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 23px;
  font-weight: 400;
}
.categories .category-card:hover {
  transform: scale(1.04);
}
.categories .category-card:hover .title {
  color: var(--green);
}

.introduction div {
  width: 43px;
  height: 20px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.introduction div small {
  font-size: 10px;
}
.introduction h4 {
  color: var(--green);
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 25px;
}
.introduction p {
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
  width: 500px;
  font-size: 14px;
}

.about-me-background-circles {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.about-me-background-circles #circle-4, .about-me-background-circles #circle-5, .about-me-background-circles #circle-6, .about-me-background-circles #circle-7 {
  position: relative;
  background-color: var(--grey);
  border-radius: 100%;
}
.about-me-background-circles #circle-4 {
  width: 70px;
  height: 70px;
  left: 1630px;
  top: 840px;
}
.about-me-background-circles #circle-5 {
  width: 100px;
  height: 100px;
  left: 1730px;
  top: 140px;
}
.about-me-background-circles #circle-6 {
  width: 50px;
  height: 50px;
  left: 930px;
  top: 610px;
}
.about-me-background-circles #circle-7 {
  width: 80px;
  height: 80px;
  left: 30px;
  top: 0px;
}

.skills-section {
  min-height: 500px;
  background-color: var(--darkest-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 190px;
}
.skills-section .skills-wrapper {
  max-width: 80vw;
}
.skills-section .skills-wrapper .heading-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.heading {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.heading div {
  width: 43px;
  height: 20px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.heading div small {
  font-size: 10px;
}
.heading h2 {
  width: 100px;
  height: 60px;
  background-color: var(--darkest-grey);
}

.skill-container {
  z-index: 2;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: var(--dark-grey);
  border-radius: 10px;
  width: 170px;
  margin: 8px;
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease;
}
.skill-card-container img {
  width: 80px;
  margin-bottom: 30px;
}
.skill-card-container p {
  text-align: center;
}
.skill-card-container:hover {
  transform: scale(1.03);
}

.background {
  position: absolute;
}
.background .green-circle-skills {
  position: relative;
  left: -700px;
  top: 50px;
  width: 220px;
  height: 220px;
  border: 3px solid var(--green);
  border-radius: 100%;
}

.projects-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-section .heading h2 {
  background-color: var(--dark-grey);
  width: 170px;
  padding-left: 10px;
}
.projects-section .project-container {
  display: flex;
  max-width: 90vw;
  justify-content: center;
  flex-wrap: wrap;
}
.projects-section #circle-8, .projects-section #circle-9, .projects-section #circle-10, .projects-section #circle-11, .projects-section #circle-12, .projects-section #circle-13 {
  position: relative;
  background-color: var(--grey);
  border-radius: 100%;
}
.projects-section #circle-8 {
  width: 70px;
  height: 70px;
  left: 40px;
  top: -320px;
}
.projects-section #circle-9 {
  width: 30px;
  height: 30px;
  left: 1400px;
  top: -380px;
}
.projects-section #circle-10 {
  width: 130px;
  height: 130px;
  left: 1860px;
  top: -300px;
}

.project-card-container {
  display: flex;
  max-width: 820px;
  background-color: var(--grey);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px -1px 30px 0px rgba(0, 0, 0, 0.24);
  transition: transform 0.3s ease;
}
.project-card-container:hover {
  transform: scale(1.006);
}
.project-card-container img {
  max-width: 450px;
  max-height: 450px;
  border-radius: 8px 0 0 8px;
}
.project-card-container .project-info {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-card-container .project-info h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.project-card-container .project-info p {
  font-weight: 300;
  letter-spacing: 0.4px;
  font-size: 14px;
}
.project-card-container .project-info .project-link {
  background-color: var(--green);
  border-radius: 6px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.project-card-container .project-info .project-link p {
  font-family: poppins;
  letter-spacing: 0.2px;
  color: white;
}

a {
  text-decoration: none;
}

.green-circle-projects {
  position: relative;
  left: -750px;
  top: 40px;
  width: 250px;
  height: 250px;
  border: 3px solid var(--green);
  border-radius: 100%;
}

.align-left {
  z-index: 3;
}

.contact-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section h2 {
  letter-spacing: 0.6px;
}
.contact-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--green);
  border-radius: 6px;
  width: 130px;
  height: 50px;
  font-weight: 600;
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.54);
}
.contact-section div:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.footer-section {
  height: 300px;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
.footer-section .footer-details {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer-section .footer-details .detail {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.footer-section .footer-details .detail a {
  color: white;
}
.footer-section .footer-socials a {
  color: white;
}

@media screen and (max-width: 1600px) {
  header .portrait img {
    max-width: 530px;
    margin-right: 80px;
  }
}
@media screen and (max-width: 1400px) {
  header .personal-info {
    margin-right: 0;
    margin-left: 70px;
  }
  header .personal-info h1 {
    font-size: 45px;
  }
  header .personal-info .typed-text {
    font-size: 30px;
  }
  header .portrait img {
    max-width: 500px;
    margin-right: 80px;
  }

  .nav-bar {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1150px) {
  header .personal-info h1 {
    font-size: 30px;
  }
}

/*# sourceMappingURL=App.css.map */
