@import url("https://use.typekit.net/aqu0iax.css");
:root {
  --grey: #2D2E32;
  --dark-grey: #25262A;
  --darkest-grey: #1F2024;
  --green: #47D2A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

main {
  background-color: var(--grey);
  min-height: 100vh;
  color: white;
  font-family: montserrat;
  font-weight: regular;
}

h2 {
  font-family: poppins;
  font-weight: 400;
  font-size: 38px;
  margin-bottom: 50px;
}

h3 {
  font-family: poppins;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.content-hide {
  display: none;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.nav-bar {
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
  position: fixed;
  background-color: var(--grey);
  top: 0px;
}
.nav-bar #show-links {
  display: flex;
}
.nav-bar li {
  list-style: none;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar li:hover a {
  color: var(--green);
}
.nav-bar li a {
  text-decoration: none;
  color: white;
}
.nav-bar .navigation {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .social-links {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .social-links a {
  display: flex;
  align-items: center;
}

.email-icon {
  background-color: var(--green);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.menu-icon {
  font-size: 40px;
}

header {
  max-height: 90.1vh;
  min-height: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 100px;
}
header .personal-info {
  margin-top: 250px;
  margin-right: 100px;
  margin-left: 100px;
}
header .personal-info .name-color {
  color: var(--green);
}
header .personal-info .typed-text {
  color: white;
  font-family: montserrat;
  font-weight: regular;
  font-size: 38px;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.74);
  animation: slideInLeft 1s ease;
  animation-delay: 0.4s;
}
header .personal-info h1 {
  font-family: poppins;
  font-weight: medium;
  font-size: 54px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.74);
  animation: slideInLeft 0.5s ease;
  animation-delay: 0.2s;
}
header .personal-info p {
  animation: slideInLeft 0.5s ease;
}
header .personal-info .main-buttons {
  display: flex;
  width: 370px;
  justify-content: space-between;
  margin-top: 80px;
}
header .personal-info .main-buttons a {
  text-decoration: none;
  font-weight: 600;
}
header .personal-info .main-buttons .primary-button {
  width: 180px;
  height: 54px;
  background-color: var(--green);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.54);
}
header .personal-info .main-buttons .primary-button:hover {
  animation: primary-button-animation 1s ease alternate infinite;
}
@keyframes primary-button-animation {
  0% {
    transform: scale(1);
    box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.54);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 1px -1px 10px 0px var(--green);
  }
}
header .personal-info .main-buttons .secondary-button {
  width: 180px;
  height: 54px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.54);
}
header .personal-info .main-buttons .secondary-button:hover {
  animation: secondary-button-animation 1s ease alternate infinite;
}
@keyframes secondary-button-animation {
  0% {
    transform: scale(1);
    box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.54);
    border: 0px solid white;
  }
  100% {
    transform: scale(1.1);
    box-shadow: 1px -1px 10px 0px #d4d4d48a;
    border: 3px solid var(--green);
  }
}
header .portrait {
  margin-top: 94px;
  display: grid;
}
header .portrait #portrait-id {
  z-index: 10;
  width: 580px;
  margin-right: 20px;
  filter: contrast(1.1);
  filter: drop-shadow(0px 2px 30px #00000096);
  grid-row: 1;
  grid-column: 1;
}
header .portrait #skill-wheel {
  position: absolute;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  width: 800px;
  transform: translateX(-90px) translateY(-90px);
}
header .main-info {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 1500px;
}
header .background-shapes {
  position: absolute;
  width: 100%;
  height: 100vh;
}
header .background-shapes #circle-1, header .background-shapes #circle-2, header .background-shapes #circle-3 {
  position: relative;
  background-color: var(--dark-grey);
  border-radius: 100%;
}
header .background-shapes #circle-1 {
  width: 250px;
  height: 250px;
  top: 600px;
  left: -121px;
  animation: random-movement-1 3s ease alternate infinite;
}
header .background-shapes #circle-2 {
  width: 100px;
  height: 100px;
  left: 103px;
  top: -100px;
  animation: random-movement-2 3s ease alternate infinite;
}
header .background-shapes #circle-3 {
  width: 70px;
  height: 70px;
  left: 1730px;
  top: 517px;
  animation: random-movement-3 3s ease alternate infinite;
}
@keyframes random-movement-1 {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(29px) translateX(29px);
  }
}
@keyframes random-movement-2 {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(29px) translateX(-15px);
  }
}
@keyframes random-movement-3 {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-25px) translateX(18px);
  }
}
header .mouse-scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
}
header .mouse-scroll #mouse-arrow {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px);
  }
}
.about-me-background {
  background-color: var(--dark-grey);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.categories {
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 300px;
  z-index: 2;
}
.categories .category-card {
  width: 500px;
  height: 200px;
  border-radius: 7px;
  background-color: var(--grey);
  padding: 40px;
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease;
}
.categories .category-card .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}
.categories .category-card p {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 23px;
  font-weight: 200;
}
.categories .category-card:hover {
  transform: scale(1.04);
}
.categories .category-card:hover .title {
  color: var(--green);
}

.introduction div {
  width: 43px;
  height: 20px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.introduction div small {
  font-size: 10px;
}
.introduction h4 {
  color: var(--green);
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 25px;
}
.introduction p {
  font-weight: 200;
  letter-spacing: 0.5px;
  line-height: 23px;
  width: 500px;
  font-size: 15px;
}

.about-me-background-circles {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.about-me-background-circles #circle-4, .about-me-background-circles #circle-5, .about-me-background-circles #circle-6, .about-me-background-circles #circle-7 {
  position: relative;
  background-color: var(--grey);
  border-radius: 100%;
}
.about-me-background-circles #circle-4 {
  width: 70px;
  height: 70px;
  left: 1630px;
  top: 840px;
  animation: random-movement-1 2s ease alternate infinite;
}
.about-me-background-circles #circle-5 {
  width: 100px;
  height: 100px;
  left: 1730px;
  top: 140px;
  animation: random-movement-2 3s ease alternate infinite;
}
.about-me-background-circles #circle-6 {
  width: 50px;
  height: 50px;
  left: 930px;
  top: 610px;
  animation: random-movement-3 2s ease alternate infinite;
}
.about-me-background-circles #circle-7 {
  width: 80px;
  height: 80px;
  left: 30px;
  top: 0px;
  animation: random-movement-1 3s ease alternate-reverse infinite;
}

.skills-section {
  min-height: 500px;
  background-color: var(--darkest-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 190px;
}
.skills-section .skills-wrapper {
  max-width: 80vw;
}
.skills-section .skills-wrapper .heading-wrapper {
  display: grid;
  width: 100%;
}
.skills-section .skills-wrapper .heading-wrapper .heading {
  grid-row: 1;
  grid-column: 1;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.skills-section .skills-wrapper .heading-wrapper .heading div {
  width: 43px;
  height: 20px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.skills-section .skills-wrapper .heading-wrapper .heading div small {
  font-size: 10px;
}
.skills-section .skills-wrapper .heading-wrapper .heading h2 {
  width: 100px;
  height: 60px;
  background-color: var(--darkest-grey);
}
.skills-section .skills-wrapper .heading-wrapper .green-circle-skills {
  position: absolute;
  grid-row: 1;
  grid-column: 1;
  width: 220px;
  height: 220px;
  border: 3px solid var(--green);
  border-radius: 100%;
  transform: translateY(45px) translateX(-20px);
}
.skills-section .skills-background-circles {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.skills-section .skills-background-circles #circle-14, .skills-section .skills-background-circles #circle-15, .skills-section .skills-background-circles #circle-16, .skills-section .skills-background-circles #circle-17 {
  position: relative;
  background-color: var(--dark-grey);
  border-radius: 100%;
}
.skills-section .skills-background-circles #circle-14 {
  width: 70px;
  height: 70px;
  left: 1600px;
  top: 0px;
  animation: random-movement-1 3s ease alternate infinite;
}
.skills-section .skills-background-circles #circle-15 {
  width: 30px;
  height: 30px;
  left: 600px;
  top: 0px;
  animation: random-movement-2 3s ease alternate infinite;
}
.skills-section .skills-background-circles #circle-16 {
  width: 130px;
  height: 130px;
  left: 1600px;
  top: 400px;
  animation: random-movement-3 3s ease alternate infinite;
}
.skills-section .skills-background-circles #circle-17 {
  width: 110px;
  height: 110px;
  left: 200px;
  top: 300px;
  animation: random-movement-1 3s ease alternate-reverse infinite;
}

.skill-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: var(--dark-grey);
  border-radius: 10px;
  width: 170px;
  margin: 8px;
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease;
  z-index: 3;
}
.skill-card-container img {
  width: 80px;
  margin-bottom: 30px;
}
.skill-card-container p {
  text-align: center;
}
.skill-card-container:hover {
  transform: scale(1.03);
  border: 2px solid var(--green);
}

.projects-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-section .project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-section .project-wrapper .heading-wrapper-projects {
  display: grid;
  width: 300px;
}
.projects-section .project-wrapper .heading-wrapper-projects .heading {
  z-index: 1000;
}
.projects-section .project-wrapper .heading-wrapper-projects .heading h2 {
  background-color: var(--dark-grey);
  width: 170px;
  padding-left: 10px;
  grid-row: 1;
  grid-column: 1;
}
.projects-section .project-wrapper .heading-wrapper-projects .heading div {
  width: 43px;
  height: 20px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.projects-section .project-wrapper .heading-wrapper-projects .heading div small {
  font-size: 10px;
}
.projects-section .project-wrapper .heading-wrapper-projects .green-circle-projects {
  position: absolute;
  grid-row: 1;
  grid-column: 1;
  width: 220px;
  height: 220px;
  border: 3px solid var(--green);
  border-radius: 100%;
  transform: translateY(45px) translateX(-20px);
  z-index: 0;
}
.projects-section .project-wrapper .project-container {
  display: flex;
  max-width: 90vw;
  justify-content: center;
  flex-wrap: wrap;
}
.projects-section .background {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.projects-section .background #circle-8, .projects-section .background #circle-9, .projects-section .background #circle-10, .projects-section .background #circle-11, .projects-section .background #circle-12, .projects-section .background #circle-13 {
  position: relative;
  background-color: var(--grey);
  border-radius: 100%;
}
.projects-section .background #circle-8 {
  width: 70px;
  height: 70px;
  left: 1600px;
  top: 0px;
  animation: random-movement-1 3s ease alternate infinite;
}
.projects-section .background #circle-9 {
  width: 30px;
  height: 30px;
  left: 600px;
  top: 0px;
  animation: random-movement-2 3s ease alternate infinite;
}
.projects-section .background #circle-10 {
  width: 130px;
  height: 130px;
  left: 1600px;
  top: 500px;
  animation: random-movement-3 3s ease alternate infinite;
}
.projects-section .background #circle-11 {
  width: 110px;
  height: 110px;
  left: 0px;
  top: 500px;
  animation: random-movement-1 3s ease alternate-reverse infinite;
}
.projects-section .background #circle-12 {
  width: 60px;
  height: 60px;
  left: 900px;
  top: 300px;
  animation: random-movement-3 2s ease alternate-reverse infinite;
}
.projects-section .background #circle-13 {
  width: 40px;
  height: 40px;
  left: 30px;
  top: -40px;
  animation: random-movement-3 3s ease alternate-reverse infinite;
}

.project-card-container {
  display: flex;
  max-width: 820px;
  min-height: 310px;
  background-color: var(--grey);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px -1px 30px 0px rgba(0, 0, 0, 0.24);
  transition: transform 0.3s ease;
  z-index: 10;
}
.project-card-container:hover {
  transform: scale(1.006);
  border: 2px solid var(--green);
}
.project-card-container img {
  max-width: 450px;
  max-height: 450px;
  border-radius: 8px 0 0 8px;
}
.project-card-container .project-info {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-card-container .project-info h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.project-card-container .project-info p {
  font-weight: 300;
  letter-spacing: 0.4px;
  font-size: 14px;
}
.project-card-container .project-info .project-link {
  background-color: var(--green);
  border-radius: 6px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.project-card-container .project-info .project-link p {
  font-family: poppins;
  letter-spacing: 0.2px;
  color: white;
}

a {
  text-decoration: none;
}

.contact-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section h2 {
  letter-spacing: 0.6px;
}
.contact-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--green);
  border-radius: 6px;
  width: 130px;
  height: 50px;
  font-weight: 600;
  box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.54);
}
.contact-section div:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.footer-section {
  height: 300px;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
.footer-section .footer-details {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer-section .footer-details .detail {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.footer-section .footer-details .detail a {
  color: white;
}
.footer-section .footer-socials a {
  color: white;
}

@media screen and (max-width: 1900px) {
  .projects-section .project-wrapper {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1600px) {
  header .portrait #portrait-id {
    max-width: 530px;
    margin-right: 80px;
  }
  header .portrait #skill-wheel {
    width: 700px;
  }
}
@media screen and (max-width: 1400px) {
  header {
    min-height: 700px;
  }
  header .personal-info {
    margin-right: 0;
    margin-left: 70px;
  }
  header .personal-info h1 {
    font-size: 45px;
  }
  header .personal-info .typed-text {
    font-size: 30px;
  }
  header .portrait #portrait-id {
    max-width: 500px;
    margin-right: 80px;
  }

  .nav-bar {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1316px) {
  .about-me-background .categories {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1160px) {
  header {
    min-height: 500px;
  }
  header .main-info .personal-info {
    margin-top: 180px;
  }
  header .main-info .personal-info h1 {
    font-size: 35px;
  }
  header .main-info .personal-info .typed-text {
    font-size: 20px;
  }
  header .main-info .personal-info .main-buttons {
    width: 270px;
  }
  header .main-info .personal-info .main-buttons .primary-button, header .main-info .personal-info .main-buttons .secondary-button {
    width: 130px;
    height: 49px;
    font-size: 13px;
    letter-spacing: 0.4px;
  }
  header .main-info .portrait #portrait-id {
    max-width: 350px;
    margin-right: 80px;
  }
  header .main-info .portrait #skill-wheel {
    max-width: 500px;
    transform: translateX(-60px) translateY(-70px);
  }
}
@media screen and (max-width: 1060px) {
  .about-me-background {
    flex-direction: column-reverse;
    padding-top: 100px;
    padding-bottom: 170px;
  }
  .about-me-background .categories {
    align-items: center;
    margin-top: 80px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 930px) {
  .project-card-container img {
    max-width: 350px;
    max-height: 350px;
  }
  .project-card-container .project-info .project-link {
    margin-top: 30px;
  }
}
@media screen and (max-width: 900px) {
  .nav-bar {
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav-bar .navigation {
    width: 300px;
  }
  .nav-bar .social-links {
    width: 200px;
  }
  .nav-bar .social-links p {
    display: none;
  }
}
@media screen and (max-width: 883px) {
  header {
    max-height: 100vh;
    min-height: 700px;
  }
  header .main-info {
    flex-direction: column-reverse;
    align-items: center;
  }
  header .main-info .personal-info {
    margin: 0;
    background-color: var(--darkest-grey);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  header .main-info .personal-info .info-wrapper p {
    font-size: 3vw;
  }
  header .main-info .personal-info .info-wrapper h1 {
    font-size: 6vw;
  }
  header .main-info .personal-info .info-wrapper .typed-text {
    font-size: 4vw;
  }
  header .main-info .personal-info .main-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
  }
  header .main-info .personal-info .main-buttons .primary-button, header .main-info .personal-info .main-buttons .secondary-button {
    width: 130px;
    height: 40px;
    font-size: 13px;
    margin: 6px;
  }
  header .main-info .portrait #portrait-id {
    width: 40vh;
    margin-right: 0px;
  }
  header .background-shapes {
    height: 85vh;
  }
  header .background-shapes #circle-1, header .background-shapes #circle-2, header .background-shapes #circle-3 {
    display: none;
  }
  header .mouse-scroll {
    display: none;
  }

  .background #circle-8, .background #circle-9, .background #circle-10, .background #circle-11, .background #circle-12, .background #circle-13 {
    display: none;
  }

  .skills-background-circles #circle-14, .skills-background-circles #circle-15, .skills-background-circles #circle-16, .skills-background-circles #circle-17 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .project-card-container img {
    max-width: 40vw;
    max-height: 40vw;
  }
  .project-card-container .project-info {
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 20px;
    justify-content: flex-start;
  }
  .project-card-container .project-info h3 {
    font-size: 2.5vw;
  }
  .project-card-container .project-info p {
    font-size: 1.9vw;
  }
}
@media screen and (min-width: 650px) {
  .menu-icon {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .nav-bar {
    padding-right: 50px;
    height: 80px;
  }
  .nav-bar #show-links {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 200px;
    width: 100%;
    background-color: var(--dark-grey);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .nav-bar #show-links li {
    padding-left: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav-bar .navigation {
    display: none;
  }
  .nav-bar .social-links {
    width: 50px;
  }
  .nav-bar .social-links .mail-button {
    display: none;
  }

  header {
    margin-top: 50px;
  }

  .project-card-container {
    flex-direction: column;
  }
  .project-card-container img {
    max-width: 70vw;
    max-height: 70vw;
    border-radius: 8px 8px 0 0;
  }
  .project-card-container .project-info {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 10px;
    justify-content: flex-start;
  }
  .project-card-container .project-info h3 {
    font-size: 4vw;
  }
  .project-card-container .project-info p {
    font-size: 2.6vw;
    max-width: 63vw;
  }
  .project-card-container .project-info .project-link {
    width: 40%;
    height: 60%;
    margin-bottom: 20px;
  }
  .project-card-container .project-info .project-link p {
    letter-spacing: 1px;
    font-size: 13px;
  }

  .about-me-background-circles #circle-4, .about-me-background-circles #circle-5, .about-me-background-circles #circle-6, .about-me-background-circles #circle-7 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .categories .category-card {
    width: 80%;
  }

  .introduction p {
    max-width: 400px;
  }

  .footer-section {
    flex-direction: column;
  }
  .footer-section .footer-details {
    margin-right: 0;
  }
  .footer-section .footer-details .detail {
    font-size: 3vw;
    letter-spacing: 0.6px;
  }

  .contact-section h2 {
    font-size: 6vw;
  }
  .contact-section div {
    max-width: 50vw;
    font-size: 4vw;
  }
}
@media screen and (max-width: 510px) {
  header .main-info .portrait #portrait-id {
    max-width: 300px;
  }
  header .main-info .portrait #skill-wheel {
    max-width: 400px;
    transform: translateX(-40px) translateY(-60px);
  }

  h2 {
    font-size: 6vw;
  }

  .about-me-background {
    padding-top: 70px;
  }
  .about-me-background .introduction-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .about-me-background .introduction-wrapper .introduction h4 {
    font-size: 3.5vw;
  }
  .about-me-background .introduction-wrapper .introduction p {
    font-size: 3.2vw;
    width: 100%;
  }
  .about-me-background .categories {
    height: auto;
  }
  .about-me-background .categories .category-card {
    width: 90%;
    height: 180px;
    padding: 6vw;
    margin-bottom: 20px;
  }
  .about-me-background .categories .category-card .title {
    font-size: 3.5vw;
  }
  .about-me-background .categories .category-card p {
    font-size: 3.2vw;
  }

  .skills-section .skills-wrapper .heading-wrapper .green-circle-skills {
    width: 100px;
    height: 100px;
    transform: translateX(1px) translateY(37px);
  }
  .skills-section .skills-wrapper .heading-wrapper .heading div {
    width: 30px;
    height: 15px;
  }
  .skills-section .skills-wrapper .heading-wrapper .heading div small {
    font-size: 2vw;
  }
  .skills-section .skills-wrapper .heading-wrapper .heading h2 {
    width: 70px;
    height: 40px;
  }
  .skills-section .skills-wrapper .skill-container .skill-card-container {
    width: 44%;
  }
  .skills-section .skills-wrapper .skill-container .skill-card-container img {
    width: 80%;
  }
  .skills-section .skills-wrapper .skill-container .skill-card-container p {
    font-size: 3.5vw;
  }

  .projects-section .project-wrapper .heading-wrapper-projects .green-circle-projects {
    width: 100px;
    height: 100px;
    transform: translateX(1px) translateY(37px);
  }
  .projects-section .project-wrapper .heading-wrapper-projects .heading div {
    width: 40px;
    height: 15px;
  }
  .projects-section .project-wrapper .heading-wrapper-projects .heading div small {
    font-size: 2vw;
  }
  .projects-section .project-wrapper .heading-wrapper-projects .heading h2 {
    width: 90px;
    height: 40px;
  }
  .projects-section .project-container .project-card-container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .projects-section .project-container .project-card-container img {
    max-width: 100%;
  }
  .projects-section .project-container .project-card-container .project-info h3 {
    font-weight: 400;
    font-size: 5vw;
  }
  .projects-section .project-container .project-card-container .project-info p {
    max-width: 90%;
    font-size: 3vw;
    font-weight: 200;
    letter-spacing: 0.7px;
  }
  .projects-section .project-container .project-card-container .project-info a p {
    font-weight: 400;
  }
}
@media screen and (max-width: 400px) {
  header {
    margin-top: 0px;
    min-height: 100vh;
  }
  header .main-info .portrait {
    margin-top: 0px;
  }
  header .main-info .portrait #skill-wheel {
    max-width: 350px;
    transform: translateX(-25px) translateY(-50px);
  }
  header .main-info .personal-info .info-wrapper .main-buttons {
    margin-top: 20px;
  }

  .about-me-background {
    padding-bottom: 40px;
  }
  .about-me-background .categories .category-card {
    width: 90%;
    height: 160px;
    padding: 6vw;
    margin-bottom: 20px;
  }

  .projects-section {
    padding-top: 60px;
    padding-bottom: 0px;
  }
}

/*# sourceMappingURL=App.css.map */
